doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  link(rel="stylesheet", href="/main.css")
  title Karteikarten
  
    
    
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

nav.navbar.navbar-expand-lg.navbar-light.bg-light(role='alert' style='padding-right:0')
  .row 
    .col-6
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    
      #navbarNav.collapse.navbar-collapse
        ul#navlist.navbar-nav
          li.nav-item
            a.nav-link(href='/' tabindex="1") Kategorie w&auml;hlen
    .col-6(style='padding-right:0')
      input.form-control#search.float-right(type='search' placeholder='Thema suchen' tabindex="0")
  
      #matches
  


#mainContainer.container


  // Modal
  #staticBackdrop.modal.fade(data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#staticBackdropLabel.modal-title Abbruch
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | Bist du sicher dass du das Bearbeiten dieser Karte abbrechen willst?
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Nein, zurück
          button.btn.btn-danger#cancel(type='button') Ja
  div#Headercontent
    h3#vorlesung
      |#{vorlesung}
    div#btnDiv.btn-group(role='group')
      button#rand.btn.btn-light 
        .fas.fa-random
      button.btn.btn-light#editCard(type='button' state='pen')
        .fas.fa-pen
      button.btn.btn-light#toggleAdd(type='button')
        .fas.fa-plus
  br
  #carouselExampleControls.carousel.slide(data-ride='carousel' data-interval='false')
    #carouselInner.carousel-inner
      if karten.length != 0
        .carousel-item.active
          .card(id=karten[0]._id)
            .card-header#t0
              | #{karten[0].thema}
            .card-body
              button.btn.btn-light.showMore(type='button' data-toggle='collapse' data-target=0 aria-expanded='false' aria-controls='collapseExample')
                | Mehr dazu 
                i.fas.fa-caret-down
              #0.collapse.showMe
                
                pre(lang="de")
                  |!{content}
      - var n = 1;
      while n < karten.length
        .carousel-item
          .card(id=karten[n]._id)
            .card-header(id='t'+n)
              | #{karten[n].thema}
              .float-right
            .card-body
              button.btn.btn-light.showMore(type='button' data-toggle='collapse' data-target=n aria-expanded='false' aria-controls='collapseExample')
                | Mehr dazu 
                i.fas.fa-caret-down
              .collapse(id=n).showMe
                
                pre(lang="de")
                  |!{content}
        -n++
    if karten.length != 0
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        i.fas.fa-chevron-left
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        i.fas.fa-chevron-right
  
  br
  #addCard(style='display:none')
    form
      h4
        | Karteikarte hinzuf&uuml;gen
      .form-group
        label(for='thema') Thema
        input#thema.form-control(name='thema' type='text' placeholder='Thema')
      .form-group
        label(for='content') Informationen
        textarea#content.form-control(name='content' rows='5')
      input.btn.btn-primary.mb-2(id='addBtn' type='button' state='add' value='Hinzufügen')
  script(src='/main.js')


  