doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Collapsible sidebar using Bootstrap 4
  link(rel='stylesheet' href='simple-sidebar.css')
  // Bootstrap CSS CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  // Our Custom CSS
 
  // Font Awesome JS
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
nav.navbar.navbar-expand.navbar-light
  a#menu-toggle.navbar-brand(href='#menu-toggle')
    span.navbar-toggler-icon
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExample02' aria-controls='navbarsExample02' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExample02.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Kategorie w&auml;hlen 
          span.sr-only (current)
    form.form-inline.my-2.my-md-0  
#wrapper.toggled
  // Sidebar
  #sidebar-wrapper
    ul.sidebar-nav
      - var n = 0;
      while n < karten.length
        li.nav-item
          a.nav-link(data-target='#carouselExampleControls' data-slide-to=n href='#') #{karten[n].thema}
        -n++;
  // /#sidebar-wrapper
  // Page Content
  #page-content-wrapper
    .container-fluid
      #mainContainer.container
        h3#vorlesung #{vorlesung}
            button#rand.btn.btn-light.float-right(onclick='getRandomCard()') 
              .fas.fa-random
        br

        #carouselExampleControls.carousel.slide(data-ride='carousel' data-interval='false')
          #carouselInner.carousel-inner
            if karten.length != 0
              .carousel-item.active
                .card
                  .card-header#t0
                    | #{karten[0].thema}
                    .float-right
                      button.btn.btn-light(type='button' data-toggle='collapse' onclick="enableEdit(0)")
                        .fas.fa-pen
                  .card-body
                    button.btn.btn-light(type='button' data-toggle='collapse' onclick="showMore(0)" data-target=0 aria-expanded='false' aria-controls='collapseExample')
                      | Show more 
                      i.fas.fa-caret-down
                    #0.collapse
                      br
                      p
                        |#{karten[0].content}
            - var n = 1;
            while n < karten.length
              .carousel-item
                .card
                  .card-header(id='t'+n)
                    | #{karten[n].thema}
                    .float-right
                      button.btn.btn-light(type='button' data-toggle='collapse' onclick="enableEdit("+n+")")
                        .fas.fa-pen
                  .card-body
                    button.btn.btn-light(type='button' data-toggle='collapse' onclick="showMore("+n+")" data-target=n aria-expanded='false' aria-controls='collapseExample')
                      | Show more 
                      i.fas.fa-caret-down
                    .collapse(id=n)
                      br
                      p
                        |#{karten[n].content}
              -n++
          if karten.length != 0
            a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
              i.fas.fa-chevron-left
            a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
              i.fas.fa-chevron-right
        br
        form#addCard
          h4
            | Karteikarte hinzuf&uuml;gen
          .form-group
            label(for='thema') Thema
            input#thema.form-control(name='thema' type='text' placeholder='Thema')
          .form-group
            label(for='content') Informationen
            textarea#content.form-control(name='content' rows='5')
          input.btn.btn-primary.mb-2(id='addBtn' type='button' onclick='addCard()' value='Hinzufügen')
        // /#page-content-wrapper
// /#wrapper

// Menu Toggle Script
script.
  $(function(){
  $("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
  });
  $(window).resize(function(e) {
  if($(window).width()<=768){
  $("#wrapper").removeClass("toggled");
  }else{
  $("#wrapper").addClass("toggled");
  }
  });
  });
   document.getElementById('addCard').addEventListener('submit',addCard);
  $('#carouselExampleControls').on('slide.bs.carousel', function () {
    $('.collapse').collapse('hide');
  })
  var getRandomCard = function() {
      randomShowCard();
    }
    
  function showMore(count){
    $(`#${count}`).collapse('toggle');
  }
  function randomShowCard(){

    var activeCardIndex = document.getElementsByClassName('active')[0].getElementsByClassName('collapse')[0].id; //id of the card that is currently active

    var i = document.getElementById('carouselInner').children.length; //count the current amount of cards
    var rand = activeCardIndex;
    while(rand == activeCardIndex) //calculate a new random index
    {
      rand = Math.floor(Math.random() *i); //random index
    } 
  
    $('.carousel').carousel(rand); //use bootstrap method to go to a different slide
  }
 
  function addCard(){  //Funktion um eine neue Karte hinzuzufügen
  //event.preventDefault();
  //Lese Daten aus der Form aus
    var thema = document.getElementById("thema").value;
    var content = document.getElementById('content').value;
    var vl= document.getElementById('vorlesung').textContent;
    var img = document.getElementById('vorlesung').textContent;
    //Poste card an server
    var count =document.getElementById('carouselInner').children.length; //anzahl der bereits exisiterenden Karten
    var ul = document.getElementById("navlist");
    
    fetch('/addCard',{
    method: 'POST',
    headers: {
    'Accept': 'application/json, text/plain, */*',
    'Content-type': 'application/json'
    },
    body:JSON.stringify({
    vorlesung:vl,
    thema:thema,
    content:content,
    img:img,
    id:count
    })
    });
    // Neue Karte ins carousel einfügen
    var newCarouselItem = document.createElement("div");
    newCarouselItem.setAttribute('class','carousel-item');
    if (count == 0){
      newCarouselItem.setAttribute('class','active');
    }else if(count==1){
      var prev = document.createElement('a');
      prev.setAttribute('class','carousel-control-prev');
      prev.setAttribute('href','#carouselExampleControls');
      prev.setAttribute('role','button');
      prev.setAttribute('data-slide','prev');
      prev.innerHTML = '<i class="fas fa-chevron-left"></i>';

      var nxt = document.createElement('a');
      nxt.setAttribute('class','carousel-control-next');
      nxt.setAttribute('href','#carouselExampleControls');
      nxt.setAttribute('role','button');
      nxt.setAttribute('data-slide','next');
      nxt.innerHTML = '<i class="fas fa-chevron-right"></i>';

      document.getElementById('carouselExampleControls').appendChild(prev);
      document.getElementById('carouselExampleControls').appendChild(nxt);
    }
  
    newCarouselItem.innerHTML =`
    <div class="card">
    <div class="card-header" id=t${count}>
    ${thema}
    <div class="float-right"><button class="btn btn-light" type="button" data-toggle="collapse" onclick="enableEdit(${count})"><div class="fas fa-pen"></div></button></div>
    </div>
    <div class="card-body">
    <button class="btn btn-light" type="button" data-toggle="collapse" onclick="showMore(${count})" data-target=${count} aria-expanded="false" aria-controls=${count}>
    Show more <i class="fas fa-caret-down"></i>
    </button>
    <div class="collapse" id=${count}>
    <br>
    <p>
    ${content}
    </p>
    </div>
    </div>
    </div>`;
    document.getElementById('carouselInner').appendChild(newCarouselItem); //Karteikarte ins Carousel einfügen
    //Erstelle die neue Karte als DOM element
    var newListEntry = document.createElement('LI');
    newListEntry.setAttribute('class','nav-item');
    newListEntry.innerHTML=`
    <a class="nav-link" data-target="#carouselExampleControls" data-slide-to=${count} href="#">${thema}</a>
    `;
    document.getElementById("navlist").appendChild(newListEntry); //neuen Link in die navbar setzen
    //Leere form
    document.getElementById("thema").value = "";
    document.getElementById('content').value="";
    //Success message
      if(document.getElementsByClassName('alert').length==0){
        var successMsg = document.createElement("div");
        successMsg.setAttribute('class','alert alert-success alert-dismissible fade show');
        successMsg.setAttribute('role','alert');
        successMsg.setAttribute('style','width:80%');
        successMsg.innerHTML= 'Karteikarte erfolgreich hinzufügt<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
        document.getElementById('mainContainer').prepend(successMsg);
      }
  }

  function enableEdit(cardNumber){
    var h4 = document.getElementById('addCard').getElementsByTagName('H4')[0];
    h4.innerText = 'Bearbeiten'; //überschrift ändern
    //button ändern
    var btn =  document.getElementById('addBtn');
    btn.setAttribute('class','btn btn-success mb-2')
    btn.setAttribute('value', 'Sichern');
    btn.setAttribute('onClick','updateCard('+cardNumber+')');
    var activeCarouselItem = document.getElementsByClassName('active')[0]; //aktive karte auswählen
    //Karteninhalt in die Textfelder laden
    document.getElementById('thema').value= activeCarouselItem.getElementsByClassName('card-header')[0].innerText;
    document.getElementById('content').value = activeCarouselItem.getElementsByClassName('card-body')[0].getElementsByClassName('collapse')[0].getElementsByTagName('p')[0].innerText;;
  }

  function updateCard(cardNumber){
    var oldTitle = document.getElementById('t'+cardNumber).innerText;
    var newTitle = document.getElementById('thema').value;
    
    if(oldTitle!=newTitle){ //falls der Titel geändert wird wird automatisch eine neue Karte erstellt
      
      addCard(); 
    }else{
      var thema = document.getElementById("thema").value;
      var content = document.getElementById('content').value;
      var vl= document.getElementById('vorlesung').textContent;
      var img = document.getElementById('vorlesung').textContent;
      //Poste card an server
      var count =document.getElementById('carouselInner').children.length; //anzahl der bereits exisiterenden Karten
      var ul = document.getElementById("navlist");
      
      fetch('/updateCard',{
      method: 'POST',
      headers: {
      'Accept': 'application/json, text/plain, */*',
      'Content-type': 'application/json'
      },
      body:JSON.stringify({
      vorlesung:vl,
      thema:thema,
      content:content,
      img:img,
      id:count
      })
      });

      console.log(document.getElementById(cardNumber).getElementsByTagName('P')[0].innerText);
      var oldCardBody = document.getElementById(cardNumber).getElementsByTagName('P')[0].innerText = content; //update Karteninhalt
      //Leere form
      document.getElementById("thema").value = "";
      document.getElementById('content').value="";
      //Success message
        if(document.getElementsByClassName('alert').length==0){
          var msg = document.createElement("div");
          msg.setAttribute('class','alert alert-success alert-dismissible fade show');
          msg.setAttribute('role','alert');
          msg.setAttribute('style','width:80%');
          msg.innerHTML= 'Karteikarte erfolgreich aktualisiert<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>';
          document.getElementById('mainContainer').prepend(msg);
        }
    var h4 = document.getElementById('addCard').getElementsByTagName('H4')[0];
    h4.innerText = 'Karteikarte hinzufügen'; //überschrift ändern
    //button ändern
    var btn =  document.getElementById('addBtn');
    btn.setAttribute('class','btn btn-primary mb-2')
    btn.setAttribute('value', 'Hnizufügen');
    btn.setAttribute('onClick','addCard()');  
    }
  }

// jQuery CDN - Slim version (=without AJAX)
// Popper.JS
// Bootstrap JS
